.title {
    display: inline;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* transaction-user */

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.transaction-dahsboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mes-transactions {
    background-color: rgb(44, 44, 44);
    padding: 10px;
    border-radius: 10px
}

.mes-transactions, h2 {
    text-align: center;
}

.transaction-dahsboard, thead, tr {
    padding-left: 10px;
    padding-right: 10px;
}

/* tr {
  background-color: #fffaf1;
} */

th, td {
    /* border: 2px solid #ffc04b; */
    padding: 0 10px 0 10px;
}

.btn-navigation {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* formulaire transaction */

.form-container {
    display: flex;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-delete {
    margin: 20px;
}

.text-transaction {
    color: var(--transaction);
}

.main-slogan {
    display: flex;
    justify-content: center;
}

/* ===== Flash message ===== */

.flash-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}

.flash {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

.flash-success {
  background: #3BCF8E;
  color: #064E3B;
}

.flash-error {
  background: #F87171;
  color: #7F1D1D;
}

/* ===== Flash animation ===== */

.flash {
  opacity: 0;
  transform: translateY(-10px);

  animation-name: flash-in, flash-out;
  animation-duration: 0s, 4s;
  animation-timing-function: ease, ease;
  animation-fill-mode: forwards, forwards;

  /* ⏱ délai AVANT la disparition */
    animation-delay: 0s, 4s;
}

.flash {
  cursor: pointer;
}

.flash:hover {
  opacity: 0.9;
}

@keyframes flash-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash-out {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes flash-out {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}