.title {
    display: inline;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* transaction-user */

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.transaction-dahsboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mes-transactions {
    background-color: rgb(44, 44, 44);
    padding: 10px;
}

.mes-transactions, h2 {
    text-align: center;
}

.transaction-dahsboard, thead, tr {
    padding-left: 10px;
    padding-right: 10px;
}

tr, th, td {
    border: 1px solid var(--text-main);
    padding-left: 10px;
    padding-right: 10px;
}

/* formulaire transaction */

.form-container {
    display: flex;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-delete {
    margin: 20px;
}

.text-transaction {
    color: var(--transaction);
}