<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mon Budget{% endblock %}</title>
        <meta name="description" content="MonBudget, application pour suivre vos finances!">
    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}  
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
