{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
{% include 'header.html.twig' %}

<div class="transaction-dahsboard">
    <h1>
        <a href="{{ path('app_transaction_new') }}" class="btn btn-primary">➕ Ajouter transaction</a>
    </h1>

<hr>
    <div class="mes-transactions">
        <h2>Mes transactions</h2>
        {% include 'transaction/_list.html.twig' with
            { transactions: transactions     
        } %}
    </div>
</div>
{% endblock %}