{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
{% include 'header.html.twig' %}

<h1><a href="{{ path('app_transaction_new') }}">Ajouter une nouvelle transaction</a></h1>
{% endblock %}