{% extends 'base.html.twig' %}

{% block title %}Nouvelle Transaction{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Ajouter une nouvelle transaction</h1>

    <div class="form-withdrawal-container">
        {{ include('transaction/_form.html.twig') }}
    </div>

    <a href="{{ path('app_transaction_index') }}" class="btn btn-success">Retour</a>
</div>
{% endblock %}
